/calibrationimages
/honours_code
/ImageExport
/Interferometry data
/Interferometry imgs
/Legacy
/Legacy_code

/MatlabExport
/Test data
/thinFilm_figs
/researchUpdate
/misc
testVars.mat
*.raw
*.tiff

*.tif
*.png
*.txt
*.zip
*.xlsx
*.mat
*.asv
*.ijm
*.m~

AnnularSectorExtraction_180320.m
intensity_errorEstimate.m
intensity_lineAverage.m
intensity_preProcess_mulltiSlice.m
fig_format.m
