/calibrationimages
/honours_code
/ImageExport
/Interferometry data
/Interferometry imgs
/Legacy
/Legacy_code

/MatlabExport
/Test data
/thinFilm_figs
/researchUpdate
/misc
testVars.mat
*.raw
*.tiff

*.tif
*.png
*.txt
*.zip
*.xlsx
*.mat
